{% load static %}

    {% include 'includes/header.html' %}

    <!-- Breadcrumb Section Begin -->
    {% if 'search' in request.path %}
        <div class="container">
            <h2 class="title-page"><strong>Search Results</strong></h2>
        </div>
    {% else %}
    
        <section class="breadcrumb-option">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="breadcrumb__text">
                            <h4>Shop</h4>
                            <div class="breadcrumb__links">
                                <a href="./index.html">Home</a>
                                <span>Shop</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
    <!-- Breadcrumb Section End -->

    <!-- Shop Section Begin -->
    <section class="shop spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="shop__sidebar">
                        <div class="shop__sidebar__accordion">
                            <div class="accordion" id="accordionExample">

                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseThree">Sort by </a>
                                    </div>
                                    <div id="collapseThree" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__price">
                                                <ul>
                                                    <li><a href="{%url 'sort_low_to_high'%}">Price : Low to High</a></li>
                                                    <li><a href="{% url 'sort_high_to_low' %}">Price : High to Low</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseOne">Categories</a>
                                    </div>
                                    <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__categories">
                                                <ul class="nice-scroll">
                                                    {% for category in links %}
                                                    <li><a href="{{ category.get_url }}">{{ category.category_name }}</a></li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                {% comment %} <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseThree">Filter Price</a>
                                    </div>
                                    <div id="collapseThree" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__price">
                                                <ul>
                                                    <li><a href="#">₹0.00 - ₹50.00</a></li>
                                                    <li><a href="#">₹50.00 - ₹100.00</a></li>
                                                    <li><a href="#">₹100.00 - ₹150.00</a></li>
                                                    <li><a href="#">₹150.00 - ₹200.00</a></li>
                                                    <li><a href="#">₹200.00 - ₹250.00</a></li>
                                                    <li><a href="#">250.00+</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div> {% endcomment %}
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-9">
                    <div class="shop__product__option">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="shop__product__option__left">
                                    <p>{{ product_count }} items found</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="shop__product__option__right">
                                    {% comment %} <p>Sort by :</p>
                                    <select>
                                        <option href="{% url 'sort_low_to_high' %}">Price : Low To High</option>
                                        <option value=""><a href="{% url 'sort_low_to_high' %}">Price : Low To High</a></option>
                                        <option value="">₹0 - ₹55</option>
                                        <option value="">₹55 - ₹100</option>
                                    </select> {% endcomment %}
                                    {% comment %} <div class="dropdown show">
                                        <a class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          Dropdown link
                                        </a>
                                      
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                          <a class="dropdown-item" href="#">Action</a>
                                          <a class="dropdown-item" href="#">Another action</a>
                                          <a class="dropdown-item" href="#">Something else here</a>
                                        </div> {% endcomment %}

                                    {% comment %} <div class="dropdown">
                                        <button style="width: 70px; height: 33px;" class="btn btn-sm btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="mdi mdi-dots-vertical"></i>
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuIconButton6">
                                            <a class="dropdown-item" href="">Edit</a>
                                            <a href=""  class="dropdown-item">Delete</a>
                                        </div>
                                    </div> {% endcomment %}
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="product">
                        <div class="row">
                            {% if products %}

                                {% for product in products %}

                                <div class="col-lg-4 col-md-6 col-sm-6">
                                    <div class="product__item">
                                        <div class="card card-product-grid mb-4">
                                            <a href="{{ product.get_url }}" class="img-wrap"> <img src="{{ product.product_image.url }}" alt=""> </a>
                                            <figcaption class="info-wrap text-center py-2">
                                                <a href="{{ product.get_url }}" class="title text-dark">{{ product.product_name }}</a>
                                                <div class="price mt-1 text-danger mt-3"><strong>MRP: ₹{{ product.price }}/-</strong></div>
                                            </figcaption>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}

                            {% else %}

                                <div class="container mt-5 text-center">
                                    <h4 class="text-danger">
                                        No results Found. Please Try agian Later
                                    </h4>
                                </div>
                            
                            {% endif %}
                            
                            
                        </div>
                        <!-- Pagination -->
                        <nav class="mt-4" aria-label="Page navigation sample">
                            {% if products.has_other_pages %}
                            <ul class="pagination">

                                {% if products.has_previous %}
                                    <li class="page-item"><a href="?page={{ products.previous_page_number }}" class="page-link">Previous</a></li>
                                {% else %}
                                    <li class="page-item disabled"><a href="" class="page-link">Previous</a></li>
                                {% endif %}

                                {% for i in products.paginator.page_range %}
                                    {% if products.number == i %}
                                        <li class="page-item active"><a href="" class="page-link">{{i}}</a></li>
                                    {% else %}
                                        <li class="page-item"><a href="?page={{i}}" class="page-link">{{i}}</a></li>
                                    {% endif %}
                                {% endfor %}

                                {% if products.has_next %}
                                    <li class="page-item"><a href="?page={{ products.next_page_number }}" class="page-link">Next</a></li>
                                {% else %}
                                    <li class="page-item disabled"><a href="" class="page-link">Next</a></li>
                                {% endif %}
                                
                            </ul>
                            {% endif %}
                        </nav>
                    </div>
                                
                            
                </div>
            </div>
        </div>
    </section>
    <!-- Shop Section End -->

    
    
    {% include 'includes/footer.html' %}

</html>