{% extends 'adminBase.html' %}

{% block content %}

<main class="h-full overflow-y-auto">
    <div class="container px-6 mx-auto grid mb-8">
        
      <div class="mt-8">
          <div class="relative w-full max-w-xl mr-6 focus-within:text-purple-500" >
              <form action="{% url 'coupon_search' %}">
                  <div class="absolute inset-y-0 flex items-center pl-2">
                    <svg class="w-4 h-4" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" >
                      <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" ></path>
                    </svg>
                  </div>
                  <input name="keyword" class="w-full pl-8 pr-2 text-sm text-gray-700 placeholder-gray-600 bg-gray-100 border-0 rounded-md dark:placeholder-gray-500 dark:focus:shadow-outline-gray dark:focus:placeholder-gray-600 dark:bg-gray-700 dark:text-gray-200 focus:placeholder-gray-500 focus:bg-white focus:border-purple-300 focus:outline-none focus:shadow-outline-purple form-input" type="text" placeholder="Search Users" aria-label="Search" />
                  {% comment %} <button class="btn btn-outline-primary" type ="submit" >search</button> {% endcomment %}
                </form>
          </div>
      </div>
      <div class="grid gap-3 mb-8 md:grid-cols-2 xl:grid-cols-2">
          <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200" >
              Orders
          </h2>
      </div>
        
        {% if 'admin/coupons/search/' in request.path %}
           <h4 class="text-white mb-4">Search results</h4>

        
        {% elif '/admin/coupons/' in request.path %}
          <!-- Cards -->
          <div class="grid gap-6 mb-8 md:grid-cols-2 xl:grid-cols-4">

              <!-- Card -->
              <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800" >
                  <div class="p-3 mr-4 text-orange-500 bg-orange-100 rounded-full dark:text-orange-100 dark:bg-orange-500" >
                      <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
                          <path d="M13 6a3 3 0 11-6 0 3 3 0 016 0zM18 8a2 2 0 11-4 0 2 2 0 014 0zM14 15a4 4 0 00-8 0v3h8v-3zM6 8a2 2 0 11-4 0 2 2 0 014 0zM16 18v-3a5.972 5.972 0 00-.75-2.906A3.005 3.005 0 0119 15v3h-3zM4.75 12.094A5.973 5.973 0 004 15v3H1v-3a3 3 0 013.75-2.906z" ></path>
                      </svg>
                  </div>
                  <div>
                      <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400" > Total Coupons </p>
                      <p class="text-lg font-semibold text-gray-700 dark:text-gray-200" > {{ coupons_count }} </p>
                  </div>
              </div>

          </div>
        {% else %}
          <h4 class="text-white mb-4">No Search results Found</h4>
        {% endif %}

      <!-- New Table -->
      <div class="w-full overflow-hidden rounded-lg shadow-xs">
        <div class="w-full overflow-x-auto">
          <table class="w-full whitespace-no-wrap">
              <thead>

                  <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800" >
                    <th class="px-4 py-3">Name</th>
                    <th class="px-4 py-3">Email</th>
                    <th class="px-4 py-3">Amount</th>
                    <th class="px-4 py-3">Payment Method</th>
                    <th class="px-4 py-3">Tracking id</th>
                    <th class="px-4 py-3">Status</th>
                    <th class="px-4 py-3">Actions</th>
                  </tr>

              </thead>
              <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800" >
                {% for order in orders %}
                <tr class="text-gray-700 dark:text-gray-400">
                  <td class="px-4 py-3">
                    <div class="flex items-center text-sm">
                        <p class="font-semibold">{{ order.first_name }}</p>
                      </div>
                    </div>
                  </td>
                  <td class="px-4 py-3 text-sm">
                    {{ order.email }}
                  </td>


                  <td class="px-4 py-3 text-xs">
                    {{ order.order_total }}
                  </td>

                  <td>
                    {{ order.payment.payment_method }}
                  </td>

                  <td class="px-4 py-3">
                    {{ order.order_number }}
                  </td>

                  <td class="px-4 py-3 text-xs">
                    {{ order.status }}
                  </td>

                  <td>

                  </td>

                </tr>
                {% endfor %}
                
                
              </tbody>
          </table>
        </div>
        <div class="grid px-4 py-3 text-xs font-semibold tracking-wide text-gray-500 uppercase border-t dark:border-gray-700 bg-gray-50 sm:grid-cols-9 dark:text-gray-400 dark:bg-gray-800" >
          <span class="flex items-center col-span-3">
            Showing 7 of {{ user_count }}
          </span>
          <span class="col-span-2"></span>

          <!-- Pagination -->
            {% if is_paginated %}
              <span class="flex col-span-4 mt-2 sm:mt-auto sm:justify-end">
                <nav aria-label="Table navigation">
                  <ul class="inline-flex items-center">
                    {% if page_obj.has_previous %}
                    <li>
                      <a href="?page={{ page_obj.previous_page_number }}" class="px-3 py-1 rounded-md rounded-l-lg focus:outline-none focus:shadow-outline-purple" aria-label="Previous" >
                        <svg class="w-4 h-4 fill-current" aria-hidden="true" viewBox="0 0 20 20" >
                          <path d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" fill-rule="evenodd" ></path>
                        </svg>
                      </a>
                    </li>
                    {% endif %}
                    {% for page in page_obj.paginator.page_range %}
                      {% if page > page_obj.number|add:'-3' and page < page_obj.number|add:'3' %}
                        <li>
                          <a href="?page={{ page }}" class="px-3 py-1 m-2 rounded-md focus:outline-none focus:shadow-outline-purple" style=" border: 1px solid #ddd;"> {{ page }} </a>
                        </li>
                      {% else  %}
                        <li>
                          <a href="" class="px-3 py-1 m-2 rounded-md focus:outline-none focus:shadow-outline-purple" style=" border: 0.5px solid #ddd;"> {{ page }} </a>
                        </li>
                      {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                      <li>
                        <a href="?page={{ page_obj.next_page_number }}" class="px-3 py-1 rounded-md rounded-r-lg focus:outline-none focus:shadow-outline-purple" aria-label="Next" >
                          <svg class="w-4 h-4 fill-current" aria-hidden="true" viewBox="0 0 20 20" >
                            <path d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" fill-rule="evenodd" ></path>
                          </svg>
                        </a>
                      </li>
                    {% endif %}
                  </ul>
                </nav>
              </span>
            {% endif %}
        </div>
      </div>

     
    </div>
  </main>

{% endblock content %}